<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="database" connectionString="Data Source=DESKTOP-EG0N4KP\SQLEXPRESS;Initial Catalog=PRG2_KEL10;Integrated Security=True;" />
    <add name="PROJEKK.Properties.Settings.PRG2_KEL10ConnectionString"
      connectionString="Data Source=DESKTOP-EG0N4KP\SQLEXPRESS;Initial Catalog=PRG2_KEL10;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>